/**
 * @name Oo Wee Oo
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish:wght@100;300;400;500;700&display=swap');
@import url('https://clearvision.github.io/ClearVision-v6/main.css');

:root {
  --main-color: #03A9F4;
  --hover-color: #000000;
  --success-color: #2196F3;
  --danger-color: #FFFFFF;
  --url-color: #03A9F4;
  --background-image: url('https://cdn.discordapp.com/attachments/1017191007294607360/1096338237833891850/Weezer.png');
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: repeat;
  --background-attachment: fixed;
  --background-brightness: 58%;
  --background-contrast: 100%;
  --background-saturation: 147%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 3px;
  --background-overlay: rgb(33,163,255,0.54);
  --user-popout-image: url('https://cdn.discordapp.com/attachments/1017191007294607360/1096340351280750623/image.png');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 0px;
  --user-modal-image: url('https://cdn.discordapp.com/attachments/1017191007294607360/1096339980453949552/image.png');
  --user-modal-position: Bottom center;
  --user-modal-size: 120%;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 81%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 0px;
  --home-icon: url('https://cdn.discordapp.com/attachments/1017191007294607360/1096338237833891850/Weezer.png');
  --home-position: bottom center;
  --home-size: 55px;
  --channel-unread: #000000;
  --channel-color: rgb(255,255,255,1);
  --muted-color: rgb(73,159,229,0.49);
  --online-color: #589CFF;
  --idle-color: #FFFFFF;
  --dnd-color: #04233B;
  --streaming-color: #8E56F1;
  --offline-color: #000000;
  --main-font: Quattrocento Sans;
  --code-font: Stylish;
  --channels-width: 211px;
  --members-width: 238px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* Any custom CSS below here */


